
*{margin: 0; padding: 0; box-sizing: border-box; font-family: roboto;}









.tilea{
    width: 400px;
    position: relative;
    /* margin: 0 auto 30px auto; */
    margin: 20px;
}
 
/* .gcon .tilea:first-child{
    margin: 0 20px 0 0;
}
.gcon .tilea:nth-last-child(1){
    margin: 0 0 0 20px;
} */
.gcon{
    display: flex; justify-content: center; align-items: flex-start; flex-wrap: wrap;
}


  .cona{
      width: 400px;
      height: 500px;
      display: flex; justify-content: center; align-items: center;
      position: relative;
      /* overflow: hidden */
      ;
      margin-bottom: 20px;
      border-radius: 5px;
      transition: 300ms;
  }


  .hearthstone{
      width: 100%; height: 100%;
      position: relative;
      border-radius: 5px; overflow: hidden;
      transition: 300ms cubic-bezier(.62,.23,0,1.08);
  }


  .video{
position: absolute;top: 0;left: 0;width: 100%;height: 100% ; z-index: 7;
opacity: 1; transition: 300ms;
  }.video video{
    position: absolute;top: 0;left: 0;width: 100%;height: 100%; object-fit: cover; z-index: 8;
      }
    

  .imag{
    position: absolute;top:0;left:0;width: 100%;height: 100%; transition: 300ms ease-in ; z-index: 8;;
   

  }

  .imag img{
      position: absolute; top: 0; left: 0; object-fit: cover; width: 100%; height: 100%;
  }

  .gra{

  }

  .logoc{
position: absolute;
bottom: 0px;
width: 100%;
height: 180px;
transform: scale(1); z-index: 10;
transition: 500ms ease-in;
  }

  .logoc img{
      height: 100%;
      position: absolute; top: 0; left: 0; width: 100%; object-fit: scale-down;
  }


  .gra{
      transition: 300ms ease-in;
      z-index: 9 !important; opacity: 0;;
      position: absolute;
      top: 0;left: 0;width: 100%; height: 100%;
      background: linear-gradient(360deg,#000000, #00000087, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }












.infog{
    display: flex; flex-direction: column; justify-content: center; align-items: center;;
    width: 100%;
}


.nameg{
    margin-bottom: 10px;
    width: 100%;
}

.nameg h3{
    font-size: 25px; color: white; font-weight: bolder; letter-spacing: 3px;
    text-align: left;
    font-family: lemon milk !important;
}


.tagg{
    margin-bottom: 10px;
    width: 100%;
}

.tagg p{
    text-align: left;
font-size: 15px; color: rgba(255, 255, 255, 0.517); font-weight: bold; letter-spacing: 1px; text-transform: uppercase;
}



.plaf{
    margin-bottom: 10px;
    width: 100%; display: flex; justify-content: flex-start;align-items: center; flex-direction: row;;
}



  body{
      background: #232740;
  }

.plaf svg path{
    fill: #ffffff86;
}

.plaf svg{
    height: 20px;
    margin-right: 10px;
}
.plaf svg:nth-last-child(1){
    margin-right: 0 !important;
}

 /* .cona:hover{
     transform: scale(1.05);
 }

 .cona:hover .imag{
     opacity: 0; */
 /* } */
  

.cona{
    cursor: pointer;
}

.o2{
    opacity: 1;
}
.blur{
    filter: blur(50px);
}


.o1{
    opacity: 0;
}

.s1{
    transform: scale(1.06);

}

.s2{
    transform: scale(1.05);
}

.gatoflip{
    object-fit: cover;
}


body{
    display: flex; justify-content: center;align-items: center; flex-direction: column; min-height: 100vh;
}

.nofunaplz{
    display: flex; justify-content: center;align-items: center; flex-direction: column;;
width: 100%;;
margin-bottom: 30px;
}

.nofunaplz h2{
    color: white;   font-size: 30px;
    letter-spacing: 1px; text-transform: uppercase;
}


svg{cursor: pointer;}
svg:hover path{
    fill: white !important;
}